body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.green {
    background-color: rgba(28, 118, 113, 0.918);
}

.orange {
    background-color: rgba(255, 4, 4, 0.865);
}


.blue {
    background-color: rgba(13, 111, 232, 0.872);
}

.purple {
    background-color: rgb(206, 37, 116);
}

.flash {
    background-color: white;
}